@import url("https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-yk6LGkSG1zU5M: #ffffff;
  --plasmic-token-white: var(--token-yk6LGkSG1zU5M);
  --token-3uXo0Ap_CMW89: #7276edeb;
  --plasmic-token-sky-blue: var(--token-3uXo0Ap_CMW89);
}

.plasmic_default_styles {
  --mixin-LWQ4ccoug4Ryh_font-family: "Poppins";
  --mixin-LWQ4ccoug4Ryh_font-size: 16px;
  --mixin-LWQ4ccoug4Ryh_font-weight: 400;
  --mixin-LWQ4ccoug4Ryh_font-style: normal;
  --mixin-LWQ4ccoug4Ryh_color: #535353;
  --mixin-LWQ4ccoug4Ryh_text-align: left;
  --mixin-LWQ4ccoug4Ryh_text-transform: none;
  --mixin-LWQ4ccoug4Ryh_line-height: 1.6;
  --mixin-LWQ4ccoug4Ryh_letter-spacing: normal;
  --mixin-LWQ4ccoug4Ryh_white-space: pre-wrap;
  --mixin-LWQ4ccoug4Ryh_user-select: text;
  --mixin-LWQ4ccoug4Ryh_text-decoration-line: none;
  --mixin-LWQ4ccoug4Ryh_text-overflow: clip;
  --mixin-JaodP5sFqPhNh_color: var(--token-yk6LGkSG1zU5M);
  --mixin-JaodP5sFqPhNh_font-weight: 500;
  --mixin-JaodP5sFqPhNh_font-size: 45px;
  --mixin-JaodP5sFqPhNh_line-height: 1;
  --mixin-JaodP5sFqPhNh_letter-spacing: normal;
  --mixin-JaodP5sFqPhNh_font-family: "Montserrat";
  --mixin-JaodP5sFqPhNh_text-align: center;
  --mixin-diTKsB3zBEtA4_color: var(--token-3uXo0Ap_CMW89);
  --mixin-diTKsB3zBEtA4_font-weight: 700;
  --mixin-diTKsB3zBEtA4_font-size: 30px;
  --mixin-diTKsB3zBEtA4_line-height: 1.1;
  --mixin-diTKsB3zBEtA4_letter-spacing: 0px;
  --mixin-diTKsB3zBEtA4_font-family: "Montserrat";
  --mixin-FOM7tSuneEsur_color: #3291ff;
  --mixin-Zi2PKYEmdyIO2_color: #000000;
  --mixin-Zi2PKYEmdyIO2_font-weight: 600;
  --mixin-Zi2PKYEmdyIO2_font-size: 28px;
  --mixin-Zi2PKYEmdyIO2_line-height: 1.2;
  --mixin-Zi2PKYEmdyIO2_letter-spacing: 0px;
  --mixin-Zi2PKYEmdyIO2_font-family: "Montserrat";
  --mixin-aCYblxkskwtGm_font-family: "Inter";
  --mixin-aCYblxkskwtGm_color: #000000;
  --mixin-aCYblxkskwtGm_font-size: 24px;
  --mixin-aCYblxkskwtGm_font-weight: 600;
  --mixin-aCYblxkskwtGm_letter-spacing: -0.5px;
  --mixin-aCYblxkskwtGm_line-height: 1.3;
  --mixin-eHFaTbSmOZ-rE_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-eHFaTbSmOZ-rE_border-bottom-color: #dddddd;
  --mixin-eHFaTbSmOZ-rE_border-bottom-style: solid;
  --mixin-eHFaTbSmOZ-rE_border-bottom-width: 1px;
  --mixin-eHFaTbSmOZ-rE_border-left-color: #dddddd;
  --mixin-eHFaTbSmOZ-rE_border-left-style: solid;
  --mixin-eHFaTbSmOZ-rE_border-left-width: 1px;
  --mixin-eHFaTbSmOZ-rE_border-right-color: #dddddd;
  --mixin-eHFaTbSmOZ-rE_border-right-style: solid;
  --mixin-eHFaTbSmOZ-rE_border-right-width: 1px;
  --mixin-eHFaTbSmOZ-rE_border-top-color: #dddddd;
  --mixin-eHFaTbSmOZ-rE_border-top-style: solid;
  --mixin-eHFaTbSmOZ-rE_border-top-width: 1px;
  --mixin-eHFaTbSmOZ-rE_border-bottom-left-radius: 3px;
  --mixin-eHFaTbSmOZ-rE_border-bottom-right-radius: 3px;
  --mixin-eHFaTbSmOZ-rE_border-top-left-radius: 3px;
  --mixin-eHFaTbSmOZ-rE_border-top-right-radius: 3px;
  --mixin-eHFaTbSmOZ-rE_font-family: "Inconsolata";
  --mixin-eHFaTbSmOZ-rE_padding-bottom: 1px;
  --mixin-eHFaTbSmOZ-rE_padding-left: 4px;
  --mixin-eHFaTbSmOZ-rE_padding-right: 4px;
  --mixin-eHFaTbSmOZ-rE_padding-top: 1px;
  --mixin-bZs8w4zSPMyjV_border-left-color: #dddddd;
  --mixin-bZs8w4zSPMyjV_border-left-style: solid;
  --mixin-bZs8w4zSPMyjV_border-left-width: 3px;
  --mixin-bZs8w4zSPMyjV_color: #888888;
  --mixin-bZs8w4zSPMyjV_padding-left: 10px;
  --mixin-xnuKKx9hfBQK3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-xnuKKx9hfBQK3_border-bottom-color: #dddddd;
  --mixin-xnuKKx9hfBQK3_border-bottom-style: solid;
  --mixin-xnuKKx9hfBQK3_border-bottom-width: 1px;
  --mixin-xnuKKx9hfBQK3_border-left-color: #dddddd;
  --mixin-xnuKKx9hfBQK3_border-left-style: solid;
  --mixin-xnuKKx9hfBQK3_border-left-width: 1px;
  --mixin-xnuKKx9hfBQK3_border-right-color: #dddddd;
  --mixin-xnuKKx9hfBQK3_border-right-style: solid;
  --mixin-xnuKKx9hfBQK3_border-right-width: 1px;
  --mixin-xnuKKx9hfBQK3_border-top-color: #dddddd;
  --mixin-xnuKKx9hfBQK3_border-top-style: solid;
  --mixin-xnuKKx9hfBQK3_border-top-width: 1px;
  --mixin-xnuKKx9hfBQK3_border-bottom-left-radius: 3px;
  --mixin-xnuKKx9hfBQK3_border-bottom-right-radius: 3px;
  --mixin-xnuKKx9hfBQK3_border-top-left-radius: 3px;
  --mixin-xnuKKx9hfBQK3_border-top-right-radius: 3px;
  --mixin-xnuKKx9hfBQK3_font-family: "Inconsolata";
  --mixin-xnuKKx9hfBQK3_padding-bottom: 3px;
  --mixin-xnuKKx9hfBQK3_padding-left: 6px;
  --mixin-xnuKKx9hfBQK3_padding-right: 6px;
  --mixin-xnuKKx9hfBQK3_padding-top: 3px;
  --mixin-3z5GQv-q8WMJo_font-family: "Inter";
  --mixin-3z5GQv-q8WMJo_color: #000000;
  --mixin-3z5GQv-q8WMJo_font-size: 20px;
  --mixin-3z5GQv-q8WMJo_font-weight: 600;
  --mixin-3z5GQv-q8WMJo_letter-spacing: -0.3px;
  --mixin-3z5GQv-q8WMJo_line-height: 1.5;
  --mixin-eBBG_vggRCrKz_font-family: "Inter";
  --mixin-eBBG_vggRCrKz_color: #000000;
  --mixin-eBBG_vggRCrKz_font-size: 16px;
  --mixin-eBBG_vggRCrKz_font-weight: 600;
  --mixin-eBBG_vggRCrKz_line-height: 1.5;
  --mixin-VtFUzmxY2dT2i_display: flex;
  --mixin-VtFUzmxY2dT2i_flex-direction: column;
  --mixin-VtFUzmxY2dT2i_align-items: stretch;
  --mixin-VtFUzmxY2dT2i_justify-content: flex-start;
  --mixin-VtFUzmxY2dT2i_list-style-position: outside;
  --mixin-VtFUzmxY2dT2i_padding-left: 40px;
  --mixin-VtFUzmxY2dT2i_position: relative;
  --mixin-VtFUzmxY2dT2i_list-style-type: decimal;
  --mixin-P5t0kDaYUqfcH_display: flex;
  --mixin-P5t0kDaYUqfcH_flex-direction: column;
  --mixin-P5t0kDaYUqfcH_align-items: stretch;
  --mixin-P5t0kDaYUqfcH_justify-content: flex-start;
  --mixin-P5t0kDaYUqfcH_list-style-position: outside;
  --mixin-P5t0kDaYUqfcH_padding-left: 40px;
  --mixin-P5t0kDaYUqfcH_position: relative;
  --mixin-P5t0kDaYUqfcH_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-LWQ4ccoug4Ryh_font-family);
  font-size: var(--mixin-LWQ4ccoug4Ryh_font-size);
  font-weight: var(--mixin-LWQ4ccoug4Ryh_font-weight);
  font-style: var(--mixin-LWQ4ccoug4Ryh_font-style);
  color: var(--mixin-LWQ4ccoug4Ryh_color);
  text-align: var(--mixin-LWQ4ccoug4Ryh_text-align);
  text-transform: var(--mixin-LWQ4ccoug4Ryh_text-transform);
  line-height: var(--mixin-LWQ4ccoug4Ryh_line-height);
  letter-spacing: var(--mixin-LWQ4ccoug4Ryh_letter-spacing);
  white-space: var(--mixin-LWQ4ccoug4Ryh_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-JaodP5sFqPhNh_color);
  font-weight: var(--mixin-JaodP5sFqPhNh_font-weight);
  font-size: var(--mixin-JaodP5sFqPhNh_font-size);
  line-height: var(--mixin-JaodP5sFqPhNh_line-height);
  letter-spacing: var(--mixin-JaodP5sFqPhNh_letter-spacing);
  font-family: var(--mixin-JaodP5sFqPhNh_font-family);
  text-align: var(--mixin-JaodP5sFqPhNh_text-align);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-diTKsB3zBEtA4_color);
  font-weight: var(--mixin-diTKsB3zBEtA4_font-weight);
  font-size: var(--mixin-diTKsB3zBEtA4_font-size);
  line-height: var(--mixin-diTKsB3zBEtA4_line-height);
  letter-spacing: var(--mixin-diTKsB3zBEtA4_letter-spacing);
  font-family: var(--mixin-diTKsB3zBEtA4_font-family);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-FOM7tSuneEsur_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-Zi2PKYEmdyIO2_color);
  font-weight: var(--mixin-Zi2PKYEmdyIO2_font-weight);
  font-size: var(--mixin-Zi2PKYEmdyIO2_font-size);
  line-height: var(--mixin-Zi2PKYEmdyIO2_line-height);
  letter-spacing: var(--mixin-Zi2PKYEmdyIO2_letter-spacing);
  font-family: var(--mixin-Zi2PKYEmdyIO2_font-family);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-aCYblxkskwtGm_font-family);
  color: var(--mixin-aCYblxkskwtGm_color);
  font-size: var(--mixin-aCYblxkskwtGm_font-size);
  font-weight: var(--mixin-aCYblxkskwtGm_font-weight);
  letter-spacing: var(--mixin-aCYblxkskwtGm_letter-spacing);
  line-height: var(--mixin-aCYblxkskwtGm_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-eHFaTbSmOZ-rE_background);
  font-family: var(--mixin-eHFaTbSmOZ-rE_font-family);
  border-radius: var(--mixin-eHFaTbSmOZ-rE_border-top-left-radius)
    var(--mixin-eHFaTbSmOZ-rE_border-top-right-radius)
    var(--mixin-eHFaTbSmOZ-rE_border-bottom-right-radius)
    var(--mixin-eHFaTbSmOZ-rE_border-bottom-left-radius);
  padding: var(--mixin-eHFaTbSmOZ-rE_padding-top)
    var(--mixin-eHFaTbSmOZ-rE_padding-right)
    var(--mixin-eHFaTbSmOZ-rE_padding-bottom)
    var(--mixin-eHFaTbSmOZ-rE_padding-left);
  border-top: var(--mixin-eHFaTbSmOZ-rE_border-top-width)
    var(--mixin-eHFaTbSmOZ-rE_border-top-style)
    var(--mixin-eHFaTbSmOZ-rE_border-top-color);
  border-right: var(--mixin-eHFaTbSmOZ-rE_border-right-width)
    var(--mixin-eHFaTbSmOZ-rE_border-right-style)
    var(--mixin-eHFaTbSmOZ-rE_border-right-color);
  border-bottom: var(--mixin-eHFaTbSmOZ-rE_border-bottom-width)
    var(--mixin-eHFaTbSmOZ-rE_border-bottom-style)
    var(--mixin-eHFaTbSmOZ-rE_border-bottom-color);
  border-left: var(--mixin-eHFaTbSmOZ-rE_border-left-width)
    var(--mixin-eHFaTbSmOZ-rE_border-left-style)
    var(--mixin-eHFaTbSmOZ-rE_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-bZs8w4zSPMyjV_color);
  padding-left: var(--mixin-bZs8w4zSPMyjV_padding-left);
  border-left: var(--mixin-bZs8w4zSPMyjV_border-left-width)
    var(--mixin-bZs8w4zSPMyjV_border-left-style)
    var(--mixin-bZs8w4zSPMyjV_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-xnuKKx9hfBQK3_background);
  font-family: var(--mixin-xnuKKx9hfBQK3_font-family);
  border-radius: var(--mixin-xnuKKx9hfBQK3_border-top-left-radius)
    var(--mixin-xnuKKx9hfBQK3_border-top-right-radius)
    var(--mixin-xnuKKx9hfBQK3_border-bottom-right-radius)
    var(--mixin-xnuKKx9hfBQK3_border-bottom-left-radius);
  padding: var(--mixin-xnuKKx9hfBQK3_padding-top)
    var(--mixin-xnuKKx9hfBQK3_padding-right)
    var(--mixin-xnuKKx9hfBQK3_padding-bottom)
    var(--mixin-xnuKKx9hfBQK3_padding-left);
  border-top: var(--mixin-xnuKKx9hfBQK3_border-top-width)
    var(--mixin-xnuKKx9hfBQK3_border-top-style)
    var(--mixin-xnuKKx9hfBQK3_border-top-color);
  border-right: var(--mixin-xnuKKx9hfBQK3_border-right-width)
    var(--mixin-xnuKKx9hfBQK3_border-right-style)
    var(--mixin-xnuKKx9hfBQK3_border-right-color);
  border-bottom: var(--mixin-xnuKKx9hfBQK3_border-bottom-width)
    var(--mixin-xnuKKx9hfBQK3_border-bottom-style)
    var(--mixin-xnuKKx9hfBQK3_border-bottom-color);
  border-left: var(--mixin-xnuKKx9hfBQK3_border-left-width)
    var(--mixin-xnuKKx9hfBQK3_border-left-style)
    var(--mixin-xnuKKx9hfBQK3_border-left-color);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-3z5GQv-q8WMJo_font-family);
  color: var(--mixin-3z5GQv-q8WMJo_color);
  font-size: var(--mixin-3z5GQv-q8WMJo_font-size);
  font-weight: var(--mixin-3z5GQv-q8WMJo_font-weight);
  letter-spacing: var(--mixin-3z5GQv-q8WMJo_letter-spacing);
  line-height: var(--mixin-3z5GQv-q8WMJo_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-eBBG_vggRCrKz_font-family);
  color: var(--mixin-eBBG_vggRCrKz_color);
  font-size: var(--mixin-eBBG_vggRCrKz_font-size);
  font-weight: var(--mixin-eBBG_vggRCrKz_font-weight);
  line-height: var(--mixin-eBBG_vggRCrKz_line-height);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-VtFUzmxY2dT2i_display);
  flex-direction: var(--mixin-VtFUzmxY2dT2i_flex-direction);
  align-items: var(--mixin-VtFUzmxY2dT2i_align-items);
  justify-content: var(--mixin-VtFUzmxY2dT2i_justify-content);
  list-style-position: var(--mixin-VtFUzmxY2dT2i_list-style-position);
  padding-left: var(--mixin-VtFUzmxY2dT2i_padding-left);
  position: var(--mixin-VtFUzmxY2dT2i_position);
  list-style-type: var(--mixin-VtFUzmxY2dT2i_list-style-type);
  flex-column-gap: var(--mixin-VtFUzmxY2dT2i_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-P5t0kDaYUqfcH_display);
  flex-direction: var(--mixin-P5t0kDaYUqfcH_flex-direction);
  align-items: var(--mixin-P5t0kDaYUqfcH_align-items);
  justify-content: var(--mixin-P5t0kDaYUqfcH_justify-content);
  list-style-position: var(--mixin-P5t0kDaYUqfcH_list-style-position);
  padding-left: var(--mixin-P5t0kDaYUqfcH_padding-left);
  position: var(--mixin-P5t0kDaYUqfcH_position);
  list-style-type: var(--mixin-P5t0kDaYUqfcH_list-style-type);
  flex-column-gap: var(--mixin-P5t0kDaYUqfcH_flex-column-gap);
}
